.break-content {
  width: 100%;
  min-height: 100vh;
  display: flex;
  background-color: #f4f4f4;
  .contentContainer {
    display: flex;
    flex-direction: column;
    .headerContainer {
      display: grid;
      grid-template-columns: 1fr auto 1fr;
      align-items: center;
      .controlIcon {
        width: 100%;
        cursor: pointer;
        position: relative;
        top: 3px;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
  .controlSwitch {
    padding: 16px;
    display: flex;
    column-gap: 10px;
    width: calc(100% - 36px);
    align-content: flex-end;
    justify-content: end;
    font-size: 15px;
    text-align: center;
    align-items: center;
    span {
      opacity: 0.6;
      transition: all 0.2s ease-in;
    }

    &.meditateOn {
      .meditateLabel {
        font-weight: bold;
        font-size: 16px;
      }
    }

    &.breatheOn {
      .breatheLabel {
        font-weight: bold;
        font-size: 16px;
      }
    }
  }
}

.title {
  margin-top: 2rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  color: #333;
}

.paragraph {
  padding: 1.5rem 0;
  max-width: 80%;
  align-self: center;
  font-size: 1.1rem;
  line-height: 1.6;
  color: #666;
}

// BreakContent.module.scss
@media (max-width: 768px) {
  .container {
    padding: 1.5rem;
    max-width: 100%;

    .title {
      font-size: 1.5rem;
    }

    .paragraph {
      max-width: 100%;
      font-size: 1rem;
    }
  }
}

@media (max-width: 480px) {
  .container {
    padding: 1rem;

    .title {
      font-size: 1.2rem;
    }

    .paragraph {
      max-width: 100%;
      font-size: 0.9rem;
    }
  }
}
