.break-content {
  width: 100%;
  overflow: hidden;
  .contentContainer {
    display: flex;
    flex-direction: column;
    .headerContainer {
      display: grid;
      grid-template-columns: 1fr auto 1fr;
      align-items: center;
      .controlIcon {
        width: 100%;
        cursor: pointer;
        position: relative;
        top: 3px;
      }
    }
  }
  .controlSwitch {
    padding: 16px;
    display: flex;
    column-gap: 10px;
    width: calc(100% - 36px);
    align-content: flex-end;
    justify-content: end;
    font-size: 15px;
    text-align: center;
    align-items: center;
    span {
      transition: all 0.2s ease-in;
    }

    &.meditateOn {
      .meditateLabel {
        font-weight: bold;
        font-size: 16px;
      }
    }

    &.breatheOn {
      .breatheLabel {
        font-weight: bold;
        font-size: 16px;
      }
    }
  }
}

.title {
  text-align: center;
}

.paragraph {
  padding: 18px;
  max-width: 80%;
  align-self: center;
}
