.toggleSwitch {
  width: 48px;
  height: 24px;
  border-radius: 0px;
  background-color: #e5e5e5;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  .toggleSwitchKnob {
    width: 20px;
    height: 20px;
    background-color: #fff;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: transform 0.3s;
  }

  &.left {
    background-color: #c5e1a5;
    .toggleSwitchKnob {
      transform: translateX(0);
    }
  }

  &.right {
    background-color: #a2d2ff;
    .toggleSwitchKnob {
      transform: translateX(24px);

    }
  }
}
