.appContainer {
  position: relative;
}

.overlayButton {
  position: fixed;
  z-index: 9999;
  right: 20px;
  bottom: 20px;
  background-color: #1e88e5;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

  &:hover {
    background-color: #0d47a1;
  }
}
