.pomodoro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
    to right bottom,
    #f3c3a0,
    #f4a582,
    #f78164,
    #f5664e,
    #f94f3a
  );
  color: #fff;
  width: fit-content;
  border-right: 2px solid #2e2e2e;
}
.pomadoro-header {
  font-size: 64px;
  margin: 0;
  text-align: center;
}

.pomadoro-time {
  font-size: 96px;
  margin-bottom: 30px;
  text-align: center;
}

.duration-input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.duration-label {
  font-size: 24px;
  margin-right: 10px;
}

.duration-value {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.duration-value button {
  font-size: 24px;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.duration-value div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  margin: 5px;
  width: 80px;
}

.duration-value div span {
  margin: 0 10px;
}

input[type="number"] {
  display: none;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.button-container > div:nth-of-type(2) {
  align-self: right;
  margin-left:8px;
}


/* Media queries for smaller screens */
@media (max-width: 768px) {
  .pomadoro-header {
    font-size: 48px;
  }
  .pomadoro-time {
    font-size: 72px;
  }
  .duration-label {
    font-size: 20px;
    margin: 5px;
  }
  .duration-value button {
    font-size: 20px;
    padding: 5px 10px;
    margin: 5px;
  }
  .duration-value div {
    font-size: 20px;
    margin: 5px;
    width: 60px;
  }
  .duration-value div span {
    margin: 0 5px;
  }
}

/* Media queries for even smaller screens */
@media (max-width: 576px) {
  .pomadoro-header {
    font-size: 36px;
  }
  .pomadoro-time {
    font-size: 56px;
  }
  .duration-label {
    font-size: 18px;
    margin: 5px;
    margin: 5px;
  }
  .duration-value button {
    font-size: 18px;
    padding: 5px 8px;
    margin: 5px;
  }
  .duration-value div {
    font-size: 18px;
    margin: 5px;
    width: 50px;
  }
  .duration-value div span {
    margin: 0 5px;
  }
}
